<footer class="topnav">
    <div class="footer-copy">
        <div class="container">
            All articles and comments are not verified or endorsed
            {{!-- <a class="grey"></a> --}}
        </div>
    </div>
</footer>