<div>
    <h1 class="card z-depth-3 center-align">Read the latest Articles</h1>
    <div class="row">
        <div class="col-md-6"></div>  
             <h3 class="card z-depth-3 center-align col s6">Click the 'ScrapeIT' button to get latest Articles</h3> 
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        {{ #each article }}
        <div class="card-panel">
            <h5 {{this.title}}></h5> 
            <a href="/readArticle/{{this.id}}" class="waves-effect waves-light btn">Read</a>
        </div>
        {{/each }}
    </div>
</div>